:root {
    --primary-white: #FFFFFF;
    --second-gray: #C0C0C0;
    --btn-blue: #167BF7;
    --background-color: #00030C;
    --primary-fonte: "Inter Tight";
    --botao-azul-feito: #3692fa;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--primary-white);
    font-family: var(--primary-fonte);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(img/Background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--btn-blue);
    border-radius: 5px;
    padding: 1em;
    /* 1em acompanha o tamanho da  fonte */
    color: var(--primary-white);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-azul-feito);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--primary-white);
}

.container__aviso {
    font-size: 12px;
    color: var(--second-gray);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__image {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario_imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--second-gray);
    font-size: 16px;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
    
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--primary-white);
}

.lista__item {
    font-size: 32px;
    color: var(--primary-white);
}

.rodape {
    text-align: center;
    margin: 2em 3em;
}

.lista__link {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em ;
}

.lista__link a {
    text-decoration: none;
    color: var(--primary-white);

}

.lista__link a:hover {
    color: var(--btn-blue);

}

.rodape__texto {
    margin: 1em 0;
    color: var(--second-gray);
    font-size: 14px;
}

